$containerWidth: 47.86rem;
$baseFontSize: 28px;
$tablets: 744px;
$phones: 375px;
@import url('http://fonts.cdnfonts.com/css/arial-nova');
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import './media';
@import './base';
@import '../blocks/header';
@import '../blocks/menu';
@import '../blocks/logo';
@import '../blocks/burger';
@import '../blocks/button';
@import '../blocks/hero';
@import '../blocks/section';
@import '../blocks/services';
@import '../blocks/excellence';
@import '../blocks/advantages';
@import '../blocks/brands';
@import '../blocks/reviews';
@import '../blocks/stocks';
@import '../blocks/slider-stocks';
@import '../blocks/slider-reviews';
@import '../blocks/route';
@import '../blocks/email';
@import '../blocks/application';
@import '../blocks/mobile';
@import '../blocks/footer';
@import '../blocks/address';
@import '../blocks/social';
@import '../blocks/enumeration';
@import '../blocks/drop';
@import '../blocks/slider-hero';