.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: #FEC110;
    border-radius: 7px;
    font-size: 16px;
    &-text {
        margin-right: 10px;
    }
    &:hover {
        background-color: #fff;
        color: #323232;
        transition: 400ms;
    }
    &--black {
        border: 1px #FEC110 solid;
        background-color: inherit;
        color: #fff;
        &:hover {
            border: none;
        }
    }
    &-header {
        width: 146px;
        height: 40px;
        &:hover {
            background-color: #323232;
            color: #fff;
            transition: 400ms;
        }
    }
    &--chevron {
        &:hover .chevron {
            transform: translateX(5px);
            transition: 400ms;
        }
    }
}

.round-button {
    border-radius: 50%;
    width: rem(60px);
    height: rem(60px);
    background-color: #FEC110;
    display: flex;
    justify-content: center;
    align-items: center;
    &--transparent {
        background-color: inherit;
        border: 1px #2c2c2c solid;
        &:hover {
            background-color: #2c2c2c;
            transition: 400ms;
        }
        &:hover .arrow {
            stroke: #fff;
            transition: 400ms;
        }
    }
    &--white {
        background-color: #323232;
        border: 1px #fff solid;
        &:hover {
            background-color: #fff;
            transition: 400ms;
        }
        &:hover .arrow {
            stroke: #2c2c2c;
            transition: 400ms;
        }
    }
    &--white .arrow {
        stroke: #fff;
    }
    &--color {
        background-color: #FEC110;
        &:hover {
            background-color: #fff;
            transition: 400ms;
        }
    }
}

.chevron {
    fill: none;
    stroke: #2c2c2c;
    width: 6px;
    height: 12px;
}

.chevron-btn {
    width: rem(40px);
    height: rem(40px);
    background-color: #FEC110;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
        background-color: #2c2c2c;
        transition: 400ms;
    }
    &:hover .chevron {
        stroke: #fff;
        transition: 400ms;
    }
}

.arrow {
    stroke: #2c2c2c;
    width: 25px;
    height: 22px;
}